<div id="page_wrapper">
  <div id="profile_image">
    <%=image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Xyy</h1>
    <p>welcome to my github</p>
    <p>you can see my handwritings in my blog which contains lots of basic ruby on rails skills</p>
    <a href="http://xyy601-blog.logdown.com" target="_blank">Clike to browse my blog</a>
  </div>
</div>
